<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li>
						<a href="/">Home</a>
					</li>
		        	<li><a href="/Research">Research</a></li>
							<li><a href="/Publications">Papers</a></li>
	        		<li><a href="/Reading List">Reading List</a></li>
							<li><a href="/Code">Code and Tutorials</a></li>
	        		<li><a href="/CV">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:nfazeli@mit.edu">email</a></li>
	        		<li><a href="https://github.com/nima-fazeli">github.com/nima-fazeli</a></li>
				</ul>
			</footer>
		</body>
</html>
